.ad {
  background-image: url("https://img.freepik.com/free-vector/household-appliances-realistic-composition_1284-65307.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
